<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="me.silentdoer.ssmdemo.po.StudentMapper">
    <resultMap id="studentResultMap" type="me.silentdoer.ssmdemo.po.Student">
        <id property="uid" column="uid"/>
        <result property="name" column="name"/>
        <result property="gender" column="gender"/>
        <result property="createTime" column="create_time"/>
        <result property="updateTime" column="update_time"/>
    </resultMap>

    <!--<insert id="insertOne">
        insert into student(name values (#{name})
    </insert>-->

    <select id="selectOne" resultMap="studentResultMap">
        select uid, name, gender, create_time, update_time from student where uid=#{uid}
    </select>
</mapper>